#sub {background-color:pink;
width:100px;
margin-left:200px;
border-radius:40px;
padding:5px;
font-weight:bold;}

a {color:green;
  text-decoration:underline blue;}

a:hover{color:blue;}

#sub:hover{
background-color:blue;
transition-duration:1s;}


h1, #note {text-align:center; font-family:sans-serif;}
    form:hover{width:335px;
    height:535px;
  transition-duration:1s;}
    form {background:rgba(0, 0, 0, 0.5);
      font-family:sans-serif;
      color: 	#fff;
  margin:auto;
    width:325px;
    padding:40px;
    height:530px;
    border-radius:50px;
    box-shadow:10px 5px 20px rgb(0, 0, 0, 1);

    }


  body {background-image:url(cun.jpg);
    background-size:cover;
    background-repeat: no-repeat;}

.inputbox input {
  border-radius:7px;
}
