#sub {background-color:green;
width:100px;
margin-right:50px;
margin-left:100px;
border-radius:40px;}

h1, #note {text-align:center; font-family:sans-serif;}
    form {background:rgba(0, 0, 0, 0.5);
      font-family:sans-serif;
      color: 	#fff;
  margin:auto;
    width:325px;
    padding:50px;
    height:500px;
    border-radius:50px;
    }
  body {background-image:url(cun.jpg);
    background-size:cover;
    background-repeat: no-repeat;}
