
body {background-image:url(landscape.jpg);
background-size:cover;
background-repeat:no-repeat;
margin:0;
padding:0;}

a {color:green;
text-decoration:underline blue;}
a:hover{color:blue;}

.box:hover{width:310px;
padding:45px;
transition-duration:1s;
transition-timing-function:ease-out;
transition-delay:1s;}
.box{
background-color:rgba(0,0,0,0.5);
font-family:sans-serif;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
border-radius:20px;
width:300px;
padding:40px;
box-sizing:border-box;}


.box h1 {color:blue;
  margin:0 0 30px;
  padding:0;
text-align:center;
text-decoration:underline pink;}



.box .inputbox input {
  width:100%;
  padding:10px 0;
  font-size:16px;
  margin-bottom:30px;
  border:none;
  border-bottom:1px solid #0000b3;
  background:transparent;
  color:#fff;
  font-size:15;
}

.box .inputbox label {
  color:#fff;
}

#new {color:#fff}

#sub input:hover{background-color:blue;
transition-duration:1s;}

#sub input {width:100px;
padding:5px;
border-radius:10px;
font-weight:bold;
background-color:pink;
margin-left:100px;
}
