.fas {color:blue; background-color:red;}



#test {color:yellow;
margin-top:200px;
font-size:30px;}


#log:hover{color:blue;
transform:scale(1.1);
transition-duration:1s;}
#log {color:green;font-weight:bold;
text-decoration:;
border:2px solid yellow;
padding:5px;
width:55px;
border-radius:10px;
position:absolute;
top:15px;
right:25px;
background:lime}




.hand img:hover{
border:2px solid yellow; filter:grayscale(1.1)}
.hand img {width:250px;
border-radius:100%;
position:absolute;
top:80px;
left:40%;
border:1px solid yellow;
transition-duration:1s;
box-shadow:10px 5px 5px rgb(0, 0, 0, 0.5);
opacity:0.5;
}

h1:hover{transition-duration:2s;color:blue;transform:scale(1.2);}
h1{color:yellow;
  font-family:sans-serif;
text-align:center;
text-decoration:underline silver;}

body{background-image:url(milky.jpg);
background-size:cover;
background-repeat:no-repeat;}
